// ---------------------------------
// The overall layout of the page:
// grid settings, outer margins etc.
// ---------------------------------
$layout-grid: (columns: 1, gutter: 2rem)

$media-small-mobile-up: "(min-width: 325px)"
$media-tablet-up: "(min-width: 768px)"

$layout-grid--tablet-up: (columns: 8, gutter: 2rem, media: $media-tablet-up)

body
  display: flex
  flex-direction: column

  .outer-wrapper
    margin: auto 0

    @media screen and #{$media-tablet-up}
      margin: auto

  .inner-wrapper
    max-heigth: 825px
    heigth: 825px
    max-width: 768px
    min-height: min-content
    padding: $small-spacing