$body-grid: ( columns: 1, gutter: $base-spacing, );
$body-grid--tablet-up: ( columns: 3, gutter: $base-spacing*2, media: $medium-screen, );
$footer-grid: ( columns: 1, gutter: $base-spacing, );
$footer-grid--tablet-up: ( columns: 2, gutter: $base-spacing, media: $medium-screen, );

body {
    max-width: 960px;
    margin: $small-spacing auto;
    @include grid-container;

    #site-header {
        @include grid-column(1, $body-grid);
        margin-bottom: $base-spacing;

        @include grid-media($body-grid--tablet-up) {
             @include grid-column(1);
            position: sticky;
            top: $small-spacing;
        }
    }

    #site-content {
        @include grid-column(1, $body-grid);

        @include grid-media($body-grid--tablet-up) {
             @include grid-column(2);
        }
    }

    #site-footer {
        @include grid-column(1, $body-grid);

        @include grid-container($footer-grid);
        @include grid-collapse($footer-grid);

        section {
            @include grid-column(1, $footer-grid);
            padding-bottom: $base-spacing;
            text-align: center;

            @include grid-media($footer-grid--tablet-up) {
                 @include grid-column(1);

                &:nth-child(odd) {
                    text-align: right;
                }

                &:nth-child(even) {
                    text-align: left;
                }
            }
        }
    }
}

//sticky footer
body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

#wrapper {
    flex: 1;
}
