.site-container {
    overflow: auto;
}

.site-container {
    min-height: 100vh;
    //see https://css-tricks.com/css-fix-for-100vh-in-mobile-webkit/
    min-height: -webkit-fill-available;

    display: grid;
    align-items: start;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
}

.site-header {
    padding: var(--spacing--small);
    grid-area: header;
}

.site-content {
    padding: 0 var(--spacing--small);
    grid-area: main;

    @media screen and #{$media-tablet-up} {
        max-width: 66%;
        margin: 0 auto;
    }
}

.site-footer {
    align-self: end;
    justify-self: center;
    font-weight: var(--font-weight--normal);
    margin-bottom: var(--spacing--small);
    grid-area: footer;
    font-size: .8em;
    color: $font-color--light;
    z-index: 1;
}

.site-header--mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header {
    font-weight: var(--font-weight--semi-bold);
    z-index: 1;
}

.site-header--titel {
    margin: 0;
}

.site-header--btn {
    padding-right: 0;
}

.site-header--logo {
    height: 2em;
}

.site-header--nav {
    font-size: 2.5em;
    display: flex;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    background-color: $viewport-background-color;
    transition: opacity var(--timing) var(--duration);
    z-index: -1;

    align-items: center;
    justify-content: center;

    a {
        color: currentcolor;
        transition: color var(--timing) var(--duration);

        &:hover {
            color: $mywarp-green;
        }
    }


    li {
        padding: .25em;
        text-align: center;

        &:last {
            margin-bottom: var(--spacing);
        }
    }

    &.is-active {
        opacity: 1;
        width: 100%;
        height: 100%;

    }
}

body.noscroll {
    overflow: hidden;
    position: fixed;
}

@media screen and #{$media-tablet-up} {

    .site-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .site-header--btn {
        display: none;
    }

    .site-header--mobile-wrapper {
        display: initial;
    }

    .site-header--nav {
        display: initial;
        position: static;
        width: auto;
        height: auto;
        opacity: 1;
        overflow: visible;

        font-size: 1.2em;
        background: none;
        text-align: right;

        li {
            display: inline-block;
            margin-right: var(--spacing--small);

            &:last-child {
                margin-right: 0;
            }
        }

        [aria-current]:not([aria-current="false"]) {
            &:before {
                content: '';
                position: absolute;
                margin: 0 auto;
                bottom: .5em;
                left: var(--spacing--small);
                width: calc(100% - 2* var(--spacing--small));
                height: .125em;
                background-color: currentcolor;
                transition: all var(--timing) var(--duration);

            }

            transition: all var(--timing) var(--duration);

            &:hover {
                color: $font-color--base;
                background-color: $viewport-background-color;
                box-shadow: inset 0 0 0 var(--border-radius) $font-color--base;

                &:before {
                    background-color: $viewport-background-color;
                }
            }
        }

        a {
            color: $font-color--base;
            text-decoration: none;
            padding: var(--spacing--small);
            transition: color var(--timing) var(--duration);
            transition: background-color var(--timing) var(--duration);

            position: relative;

            &:hover {
                background-color: $font-color--base;
                color: $viewport-background-color;
            }
        }
    }

}