@mixin button-list($first-primary: false) {
  ol, ul{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    list-style: none;

    padding: 0;
    margin-top: $small-spacing;

    li {
        padding: $small-spacing;
        border: 1px solid lighten($medium-gray, 20%);
        border-radius: $base-border-radius;
        margin-bottom: $small-spacing;

        @include button-text;

        &:active,
        &:focus,
        &:hover {
            color: lighten($dark-gray, 20%);
        }

        a {
            color: $medium-gray;

            &:active,
            &:focus,
            &:hover {
                color: $dark-gray;
            }
        }
        @if $first-primary == true {
            &:first-child {
                transition: background-color $base-duration $base-timing;
                background-color: $action-color;
                border: none;

                &:active,
                &:focus,
                &:hover {
                    background-color: shade($action-color, 20%);
                }

                a {
                    color: #fff;
                }
            }
        }
    }
  }
}

@mixin button-text {
  letter-spacing: .1em;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
}
