header a {
  display: flex;
  align-items: center;

  #site-titel {
    margin-bottom: 0;
    margin-left: $small-spacing;
  }
}

footer {
  margin-top: $base-spacing;
  border-top: $base-border;
  padding-top: $base-spacing;

  text-align: center;
}
