// Colors
$mywarp-green: #3FAE6A;
$orange: #E85B2B;
$gray: #808080;
$gray-dark: #333;
$white: #fff;

// Font Colors
$font-color--base: var(--font-color--base);
$font-color--light: var(--font-color--light);
$action-color: var(--action-color);
$action-color--alt: var(--action-color--alt);
$action-color--contrast: var(--action-color-contrast);

// Background Colors
$viewport-background-color: var(--viewport-background-color);

$media-small-mobile-up: "(min-width: 325px)";
$media-large-mobile-up: "(min-width: 400px)";
$media-tablet-up: "(min-width: 768px)";

:root {
    // Typography
    --font-family: "IBM Plex Sans", system-ui, sans-serif;
    --font-family--mono: 'IBM Plex Mono', monospace;
    --font-family--heading: var(--font-family);

    --font-weight--thin: 100;
    --font-weight--extra-light: 200;
    --font-weight--light: 300;
    --font-weight--normal: 400;
    --font-weight--medium: 500;
    --font-weight--semi-bold: 600;
    --font-weight--bold: 700;
    --font-weight--extra-bold: 800;
    --font-weight--black: 900;

    // Line heights
    --line-height: 1.5;
    --line-height--heading: 1.2;

    // Other Sizes
    --border-radius: 0.1875rem;
    --spacing: 1.5rem;
    --spacing--small: 0.75rem;

    // Borders
    --border-width: 0.0625rem;
    --border: var(--border-width) solid currentColor;

    // Focus
    --focus-outline-width: 0.1875rem;
    --focus-outline-offset: 0.125rem;
    --focus-outline: var(--focus-outline-width) solid #{$font-color--light};

    // Animations
    --duration: 250ms;
    --timing: ease;

    // Color
    --font-color--base: #{$gray-dark};
    --font-color--light: #{$gray};
    --action-color: #{$orange};
    --action-color--alt: darken($action-color, 10%);
    --action-color--contrast: #{$white};

    // Background Colors
    --viewport-background-color: #{$white};

    //tsParticles (cannot use named HTML colors here)
    --particles-color: #111;

    @media (prefers-color-scheme: dark) {
        --font-color--base: #EEE;
        --action-color--contrast: #1c1c1c;
        --viewport-background-color: #1c1c1c;
        --particles-color: #D1D1D1;
    }
}