@import 'modern-normalize/modern-normalize';
@import 'modularscale-sass/stylesheets/modularscale';
@import "css.gg/icons/all";

$modularscale: (base: 1em, ratio: 1.2);

@import "base/base";

$hamburger-layer-color: $font-color--base !important;
$hamburger-layer-border-radius: 0;

@import "hamburgers/_sass/hamburgers/hamburgers";

button.hamburger {
  background: none !important;
}

@import "layout";
@import "landing_page";
@import "development_builds";

.successful {
  color: $mywarp-green;
}

.error {
  color: red;
}