@charset "utf-8";

//libs
@import 'modern-normalize/modern-normalize';
@import 'modularscale-sass/stylesheets/modularscale';
$modularscale: (base: 1em, ratio: 1.2);

@import "css.gg/icons/all";

$hamburger-layer-color: currentcolor;
$hamburger-layer-border-radius: 0;
@import "hamburgers/_sass/hamburgers/hamburgers";

//util
@import "util/variables";
@import "util/modifiers";

//bitters
@import "base/buttons";
@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/media";
@import "base/tables";
@import "base/typography";

//layout
@import "layout/page";
@import "layout/page-head";
@import "layout/page-nav";
@import "layout/page-foot";

//pages
@import "pages/home";
@import "pages/builds";