@charset "utf-8";

//libs
@import "modern-normalize/modern-normalize";
@import "bourbon/core/bourbon";
$bourbon: ("modular-scale-base": 1em, "modular-scale-ratio": 1.2);

@import "css.gg/icons/all";

$hamburger-active-class-name: 'is-active';
$hamburger-color: currentcolor;
$hamburger-size: 55px;
$hamburger-thickness: .25em;
@import "delicious-hamburgers/scss/base";
@import "delicious-hamburgers/scss/animations/chop";

//util
@import "util/variables";
@import "util/modifiers";

//bitters
@import "base/buttons";
@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/media";
@import "base/tables";
@import "base/typography";

//layout
@import "layout/page";
@import "layout/page-head";
@import "layout/page-nav";
@import "layout/page-foot";

//pages
@import "pages/home";
@import "pages/builds";