table {
    border-collapse: collapse;
    margin: 0 0 var(--spacing);
    table-layout: auto;
    text-align: left;
    width: 100%;
}

thead {
    line-height: var(--line-height--heading);
    vertical-align: bottom;
}

tbody {
    vertical-align: top;
}

tr {
    border-bottom: var(--border);
}

th {
    font-weight: 600;
}

td {
    hyphens: auto;

    @media screen and #{$media-tablet-up} {
        hyphens: none;
    }
}

th,
td {
    padding: var(--spacing--small) var(--spacing--small) var(--spacing--small) 0;

    &:last-child {
        padding-right: 0;
    }

    &.fitwidth {
        width: 1px;
        white-space: nowrap;
    }

    &.hide-on-small-mobile {
        display: none;

        @media screen and #{$media-small-mobile-up} {
            display: table-cell;
        }
    }
}

//.table-wrapper {
//    white-space: nowrap;
//    overflow-y: auto;
//
//    table {
//        table-layout: fixed;
//    }
//}