---
display_particles: true
---

%p
  MyWarp is an extension for Minecraft that allows players to create and share warps. It is highly customizable, fully localized and supports economy plugins. 
:markdown
  Available for the Spigot API ([Spigot](https://spigotmc.org), [Paper](https://papermc.io/), [CraftBukkit](https://bukkit.org/)), developed under GPL3 on [GitHub](https://github.com/MyWarp/MyWarp).
%ul.link-list
  %li.link-list--button
    =link_to 'Download', 'https://github.com/MyWarp/MyWarp/releases'
  %li.link-list--underlined
    =link_to 'Docs', 'https://github.com/MyWarp/MyWarp/wiki'