---
change_frequency: never
---
%p.warning
  These downloads are created automatically on every change in the code. Some may be unstable or cause problems. Please #{link_to 'report', 'https://github.com/MyWarp/MyWarp/issues'} any issue.

%h3
  Build

.table-wrapper
  %table.build-table
    %tr
      %th
        No.
      %th
        Build by
      %th
        Date
      %th
        Status

    %tr
      %td
        =info.build.number
      %td
        =info.build.by
      %td
        =info.build.date
      %td.build-table--build-status
        - if info.build.successful.to_s == "true"
          %span.successful
            %i.gg-check-o
        - else
          %span.error
            %i.gg-close-o

%h3
  Changes

.table-wrapper
  %table.build-table
    %tr
      %th
        Commit
      %th
        Info
      %th
        Author

    %tr
      %td.build-table--commit-hash
        =link_to_commit info.commit.short_hash
      %td
        =info.commit.message
        //Need to fix some builds that had the wrong version
        - if info.version && !info.version.shortVersion.include?("SNAPSHOT") && !["18", "20", "23", "25", "26"].include?(info.build.number)
          .build-table--released-version
            Stable Build
      %td
        =info.commit.author

%h3
  Artifacts

%details{:open=>true}
  
  %summary To use MyWarp (including all required dependencies)

  = partial "build_download.haml", :locals => {:artifact_files => (artifact_files info, "*-all.jar")}

%details
  
  %summary Without dependencies (e.g. for development)
    
  :markdown
      These artifacts **do not** include runtime dependencies and **cannot** be used to run MyWarp. Use these only if you know what you are doing.

  = partial "build_download.haml", :locals => {:artifact_files => (artifact_files info, "*.jar", "*-all.jar")}
